@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

:root {
    /* colors */
    --black: #000000;
    --white: #ffffff;
    --accent: #0096c7;

    /* borders, shadows */
    --radius: 25px;
    --shadow: 11px 15px 67px -28px rgba(0, 0, 0, 0.3);
    --round: 50%;

    /* sizes */
    --text-small:14px;
    --text-medium:18px;
    --text-large:34px;

    /* width */
    --container-width: 600px;

    /* spacing */
    --default-padding: 30px;

    /* fonts */
    --default-font: "Lexend", sans-serif;
  }

  * {
    padding: 0;
    margin: 0;
  }

  body {
    color: var(--black);
    font-family: var(--default-font);
    background-color: var(--white);
  }

  .container {
    max-width: var(--container-width);
    margin: 0 auto;
    background-color: var(--white);
  }

  .user-info {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--default-padding);
    justify-items: center;
    padding: var(--default-padding);
    text-align: center;
  }

  .user-info div {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    justify-items: center;
  }

  .user-info img {
    border-radius: var(--round);
    box-shadow: var(--shadow);
  }

  .user-info h1 {
    position: relative;
    display: inline-block;
    font-size: var(--text-large);
  }

  .user-info h1:before {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: var(--accent);
  }

  .links {
    display: grid;
    grid-template-columns: 1fr;
    gap: var(--default-padding);
  }